<div class="home-wrapper">
<div class="previous-winner">
  <app-previous-winner/>
</div>

<div class="about">
  <h1>Big Fellas Dynasty</h1>
  <p class="bio">
    Welcome to the most magical realm in the realm of fantasy football - our illustrious dynasty league! Here, amidst the digital turf of our virtual gridiron, warriors of wit and wizards of the waiver wire collide in a battle royale for supremacy. But fear not, for we are more than just mere managers;
    we are legends in the making, architects of destiny, and champions of absurdly large trophies! <br><br><br>

    Within these hallowed halls of the internet, you'll find a motley crew of fantasy aficionados, each wielding their own unique blend of charm, cunning, and downright ridiculous team names. From the seasoned veterans who've seen more seasons than Gandalf has seen ages, to the fresh-faced rookies eager to make their mark on the league,
    everyone is welcome to join in the fray.<br><br><br>

    But beware, dear visitor, for in this league, anything can happen. From unexpected upsets that leave even the most seasoned tactician scratching their head, to miraculous Hail Mary plays that defy all logic and reason, our league is a rollercoaster ride of emotions, with more twists and turns than a Tolkien trilogy.
    So whether you're here to dominate the competition with the precision of a precision-engineered Elven arrow, or simply looking to bask in the camaraderie of fellow football fanatics, you've come to the right place. So grab your helmets, buckle up your chin straps, and prepare yourself for the wildest ride of your fantasy football career.
    Welcome to the dynasty league - where the only thing more unpredictable than the players on the field is the madness of the managers off it! <br><br><br>

    And lastly, Fuck Rake!!
  </p>
</div>

</div>



